<h1>All Artists</h1>

<%= form_tag artists_path, method: 'get' do %>
    Search for an artist:
    <%= text_field_tag :query %>
    <%= submit_tag 'Search' %>
<% end %>

<ul>
    <% @artists.each do |artist| %>
        <li><%= link_to artist.name, artist_path(artist) %></li>
    <% end %>
</ul>