<h1>All Songs</h1>

<%= form_tag songs_path, method: 'get' do %>
    <%= text_field_tag :query, nil, placeholder: 'Enter song name' %>
    <%= submit_tag 'Search' %>
<% end %>

<ul>
    <% @songs.each do |song| %>
        <li><%= link_to song.title, song_path(song) %></li>
    <% end %>
</ul>
